/* ---------- RESET ----------*/

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, p, a, em, img, strong, b, u, i, ul, li, form, label, legend, article, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

img {
    display: block;
    max-width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.2;
  color: #232323;
  background-color: #f9ffff;
}

ol, ul {
  quotes: none;
}

/* ---------- TYPOGRAPHY ----------*/

h1{
  font-size: 48px;
  line-height: 60px;
  font-weight: 900;
}

h2{
  margin-top: 0;
  font-size: 20px;
  font-weight: 700; 
  line-height: 30px;
}

p{
  font-size: 18px;
  line-height: 28px;
}

/* ---------- LAYOUT ----------*/

h1 {
  margin-bottom: .5em;
}

ul, h2, img, .modal-choice-btns, .modal-inner > p {
  margin-bottom: 1.5em;
}

main{
  width: 600px;
  margin: 0 auto;
}

ul{
  list-style: none;
  padding: 5px 0 0 0;
}

li{
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 22px;
  box-shadow: 1px 1px 3px #23232366;
}

.li-green{background-color:#E5FDEA}
.li-yellow{background-color:#FCFDD6}
.li-blue{background-color:#E5F9FE}
.li-pink{background-color:#FCF1FE}

/* ---------- MODAL ----------*/

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: fit-content;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 2px #666;
  background-color: #212529;
  color: whitesmoke;
}

.modal-inner{
  width: 290px;
  margin: 0 auto;
}

.modal-inner-loading{
  text-align: center;
}

/* MODAL Buttons */

.close-modal-btn-container{
  text-align: right;
  margin: 9px;
}

.modal-close-btn {
font-size: 22px;
font-weight: bold;
background-color: transparent;
border: 1px solid transparent;
color: whitesmoke;
}

.modal-close-btn:hover,
.modal-close-btn:active{
  color: red;
  cursor: pointer;
}

.modal-close-btn:disabled{
  color: whitesmoke;
  opacity: 0.2;
  cursor: not-allowed;
}

.modal-choice-btns{
  margin-top: 10px;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
}

.reverse {
  flex-direction: row-reverse;
}

.modal-btn{
  padding: 10px 24px;
  cursor: pointer;
}

/* MODAL Input */

input{
  margin-top: 2em; 
  border: 1px solid #212529;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
}

/* MODAL After Submit */

.loading{
  width: 100%; 
  margin-top: 10px;
}

.modal-display-name{
  color: fuchsia;
}

.modal-text{
  height: 140px;
  line-height: 23px;
  margin-bottom: 0;
}